.map {
    height: 100%;
    width: 100%;
  }
  .leaflet-container {
   height: 400px !important;
   width: 80%;
   margin: 0 auto;
 }

 .mapContainer{
   
    display: flex;
    border: 2px, solid,black;
    height:700px;
    width: 700px;
 }
 .overlay{
 
   border: 2px, solid,black;
   height: 100px;
   width: 100px;
   background-color: aquamarine;
   position: relative;
   top: 40px;
   left: 40px;
   z-index:249;
   
 }